<!DOCTYPE html>
<html>
<head>
    <title>AI Face Attendance System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background: linear-gradient(to right, #4e73df, #1cc88a);">

<div class="container text-center mt-5">
    <div class="card shadow-lg p-5">
        <h1 class="mb-4 text-primary">AI Face Attendance System</h1>

        <a href="/register" class="btn btn-success btn-lg mb-3">Register Student</a><br>
        <a href="/attendance" class="btn btn-primary btn-lg">View Attendance</a>
    </div>
</div>

</body>
</html>
